*{
    margin: 0;
    padding: 0;

}
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: lightgray;
    margin: 0.5em auto;
    padding: 0.5em;
    <img src="" width="100">

}
#header{
    height: 15%;
    background-color: darkgrey;
    border-radius: 1em;

}
#nav{
    height: 10%;
    background-color: white;
}
#contenido{
    height: 53%;
    background-color:white;
    margin: 1em;

}
#footer{
    height: 15%;
    background-color: white;
    border-radius: 1em;
    margin: 1em;
}
#Section{
    height: 95%;
    width: 71%;
    background-color: gray;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
    <img src="https://rockemma.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F56fba7d7-2f6d-43d3-8990-4b2ce0967fca%2Fspenser-sembrat-J23AXE8tPDo-unsplash.jpg?table=block&id=7f85ae2d-ffdc-44fc-adfb-e9a0349b4ccb&spaceId=0915e43f-c5dd-45d3-87ce-889609799330&width=2000&userId=&cache=v2" alt="">

}
#Aside{
    height: 95%;
    width: 25%;
    background-color: gray;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
    <img src="https://rockemma.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F68b0b3a1-024b-4106-a5b3-a971be72ef71%2Fhtml.jpg?table=block&id=2557679d-a7b2-46c8-a961-51e8869165ac&spaceId=0915e43f-c5dd-45d3-87ce-889609799330&width=2000&userId=&cache=v2" alt="">
    <img src="https://rockemma.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fce88424f-8c4c-4516-b372-ec5035051f78%2FQue-es-CSS.jpg?table=block&id=a8b02256-ff86-4773-8f05-751baaf9f668&spaceId=0915e43f-c5dd-45d3-87ce-889609799330&width=1950&userId=&cache=v2" alt="">
    <img src="https://rockemma.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4ffdfd4b-a83e-472f-8703-1c5ac56c5116%2Fjs-1.png?table=block&id=a5bcfcfb-41da-423d-a842-eae50eea7b6d&spaceId=0915e43f-c5dd-45d3-87ce-889609799330&width=1570&userId=&cache=v2" alt="">
    <img src="https://rockemma.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc6d8f96d-c108-4bf3-ac7c-f4f47cda1c35%2Fque-es-SQL.png?table=block&id=cd364e4e-a567-42e1-98f4-44638fb2b382&spaceId=0915e43f-c5dd-45d3-87ce-889609799330&width=1600&userId=&cache=v2" alt="">
}
<img src="image.png" alt="">
jefuentes
La mejor Playlist, es la que te permite trabajar
contenido
contenido
contenido
contenido
contenido
contenido
Para ser un desarrollador web debemos conocer todas las tecnologías involucradas, entre ellas están html, css, javascript y sql, una vez comprendido los temas básicos trabajar con frameworks como react.
    
