.silveria gray {
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0 3rem;
}
.caja-padre {
    width: 100%;
    height: 10rem;

    /* Alineación de items */
    display: flex;
    flex-direction: row;
}
.slate gray {
    width: 25%;
    height: 40rem;
    background-color:slategray;
}
.white {
    width: 74%;
    height: 40rem;
    background-color:white;
}
.light grey {
    width: 74%;
    height: 40rem;
    background-color:lightgrey;
}
.grey-1, .grey-2, .grey-3 {
    width: 30%;
    height: 35rem;
    background-color: grey;

    margin: 1rem;
}


